@media screen and (max-width: 375px){
	*{
	margin:0px;
	padding: 0px;
}
html{
	height: 100%;
}
body{
	background-color: #e9ebee;
	height: 100%;
}
.main{
	background-color: #ff4a43;
	width: 100%;
	height: 50px;
	margin-bottom: 5px;
}
.main li{
	text-align: center;
	list-style-type: none;
	float: left;
	width: 25%;
}
.main li:hover{
	background-color: #ec433c;
	height: 50px;
}
.navIcon{
	width: 25px;
	height: 25px;
	margin-top:13px;
}
.container{
	background-color: #ffffff;
	margin-top: 5px;
	min-height: 40%;
	max-height: 100px;
	overflow: auto;
}
#footer{
   width:100%;
   height:50px;   /* Height of the footer */
   background:#212121;
   margin-top: 5px;
}
#myFooter{
	color: #ffffff;
	font-family: segoe ui;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
}
.index_imgSize{
	margin: 5px;
}
.index_imgSize li{
	list-style-type: none;
}
.index_imgSize img{
	width: 25%;
	height:auto;
	float: left;
}
}
