body{
	background-image: url(../bg.jpg);
	background-size: cover;
	font-family: arial;	
}
ul {
	margin:0px;
	padding:0px;
	list-style-type: none;

}
ul li {
	float:left;
	width: 200px;
	height: 40px;
	background-color: #fe2e2e;
	color:white;
	opacity: 1;
	line-height: 40px;
	text-align: center;
	font-size: 15px;	
	font-weight: bold;
}
ul li a{
	text-decoration:none;
	color:white;

}

ul li:hover{
	display: block;
	background-color: #b62020;	
	position: relative;
	z-index: 3000;
}
ul li ul li{
	display: none;

}
ul li:hover ul li{
	display: block;
	color: #23272a;	
	font-weight: lighter;

}
ul li ul li:hover{
	border-top: 1px solid #800000;
	border-bottom: 1px solid #800000;
	color: white;
	font-size: 15.1px;
	text-shadow: 10px 1px 30px;


}
ul li ul li a{
	text-decoration:none;
	color:black;
}
ul li ul li a:hover{
	text-decoration:none;
	color:white;
}
.fb:hover {
	background-image: url(../fb.png);
}
.twit:hover {
	background-image: url(../tw.png);
}
.yt:hover {
	background-image: url(../yt.png);
}
.fb,.twit,.yt{
	color: white;
	background-repeat: no-repeat;
	background-size: 40px;
}

h1 {
	text-align: center;
	font-family: Calibri,arial;
	color: white;
	border:1px solid black;
	background-color: black;
	width: 47.5%;
	position: absolute;
	top:25%;
	left: 50%;
	transform: translate(-50%, -30%);
}


ul #DBS {
	margin:0px;
	padding:0px;
}

#eptopMargin{
	margin-top: 5px;
	margin-left: 6px;
}
#episodeContainer li{
			width: 80px;
			margin:1px;	
			font-size: 10px;	

		}