*{
	margin:0;
	padding:0;
}
img{
	display: block;
  	margin: auto;
}
body{
	background-color: #f7f7f7;
	font-size: 15px;
	font-family: Calibri,Arial;

}
label, #toggle, #searchbar,.image{
	display: none;
}

.topcolor{
	background-color: #01b888;
	width: 100%;
	height:80px;
	position: relative;
}
.shadow-topcolor{
	background-color: #039871;
	width: 100%;
	height:1px;
	position: absolute;
	top:80px;
}
ul.main{

	border-bottom: 1px solid #039871;
	background-color: #01b888;
	width: 100%;
	height: 50px;
}
.main>li{
	float:left;
	list-style-type: none;
	text-align: center;
	background-color: #01b888;
	width: 150px;
	height:50px;
	line-height: 50px;
	border-right: 1px solid #039871;
	border-bottom: 1px solid #039871;
	transition: background 0.2s ease;
}
.main li:hover{
	background-color: #08a77d;
}
.main li:hover .submenu li{
	display: block;
}
.main li a{
	text-decoration: none;
	color: white;
}
ul .main li:hover ul .submenu{
	display: block;
}
.submenu>li{
	border-bottom: 1px solid #039871;
	background-color: #01b888;
	height: 40px;
	line-height: 40px;
	position: relative;
	top:1px;
	display: none;
}
.submenu>li:last-child{
	border-bottom: 2px solid #078362;
}
.submenu li:hover{
	background-color: #08a77d;
	display: block;
}

/*START OF RESPONSIVE MOBILE*/

@media only screen and (max-width: 500px){
img{
	position:relative;
	top:10px;
  	margin: auto;
	height: 70px;
}
body{
	background-color: #f7f7f7;
	font-size: 15px;
	font-family: Calibri,Arial;
}
.main, .main>li{
	display: block;
	width: 100%;
	display: none;
}
#toggle{
	float:left;
	display: none;
}
#toggle:checked + .main, .main>li{
	display: block;
}
label{
	display: block;
	float:left;
	margin:2px 4px;
	font-size: 30px;
	position: absolute;
	top:20px;
	left:2px;
}
.main li:hover .submenu li{
	display: none;
}
}
