*{
	margin:0px;
	padding:0px;
}
body{
	font-family: Calibri;
	background-color: #e9ebee;
}
 .navIcons{
 	display: none;
 }
.main{
	background-color: #f4684d;
	height: 61px;
	border-bottom: 1px solid #f7f7f7;
}
.main li{
	float: left;
	list-style-type: none;
	width: 150px;
	background-color: #f4684d;
	text-align: center;	
	line-height: 60px;
	height: auto;
}
.main li:hover{
	background-color: #d05139;
}
.main li a{
	text-decoration: none;
	color:white;
	font-size: 15px;
	font-weight: bold;
	font-family: Segoe UI;
}
.main li:hover .submenu li{
	border-bottom: 1px solid #bdb7b7;
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
	display: block;	
}
.submenu li{
	width: 150px;
	height: 50px;
	display: none;
	background-color: #ffffff;
	line-height: 50px;
}
.submenu li a{
	color: #484848;
	font-size: 12px;
	font-weight: bold;
	font-family: Segoe UI;
}
.submenu li:hover{
background-color: #f6f5f5;
}

						/*end of navigator*/

.sec_Wrapper{
	width: 100%;
	position: absolute;
	z-index: -100;
}
.leftWrapper{
	width: 80%;
	float:left;
	height: auto;
	margin: 4px 5px;
}
.rightWrapper{
	width: 18.6%;
	float:left;
	height: 500px;
	margin-top: 4px;
	margin-left: 3px
}
.contentWrapper_Vid{
	width: 100%;
	height: auto;
	background-color: #ffffff;
	margin-bottom: 10px;
	margin-top:-15px; 
	box-shadow: -5px 5px 7px -5px rgba(176,176,176,1);
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.contentWrapper_Vid iframe{
	margin: 5px 5px;
	width: 99%;
	height: 550px;
}
.contentWrapper_Img{
	width: 100%;
	height: 205px;
	background-color: #ffffff;
	overflow: hidden;
	margin-bottom: 10px;
	margin-top:-15px; 
	box-shadow: -5px 5px 7px -5px rgba(176,176,176,1);
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;

}

.owl-carousel a img{
	width: 150px;
	height: 200px;
	margin-top: 2px;
}
.contentWrapper_Text{
	margin-top:-15px; 
	margin-bottom: 10px;
	width: 100%;
	background-color: #ffffff;
	height: auto;
	box-shadow: -5px 5px 5px -5px rgba(176,176,176,1);
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
#disqus_thread{
	margin: 5px 10px;
}
.episodeWrapper_Text{
	margin-top:-15px; 
	margin-bottom: 10px;
	width: 100%;
	background-color: #ffffff;
	height: auto;
	box-shadow: -5px 5px 5px -5px rgba(176,176,176,1);
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.contentWrapper_Text p{
	text-indent: 40px;
	margin: 5px 10px;
	text-align: justify;

}
.contentWrapper_Text span #commentz{
	color: #484848;
	font-family: Segoe UI;
	font-size: 14px;
	font-weight: bold;
}

.title{
	width: 100%;
	background-color: #f6f7f9;
	border-radius: 4px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 1px solid #d0d0d0;
	margin-bottom: 15px;
	position: relative;
	height: auto;
	border-bottom: 1px solid #d0d0d0;
	box-shadow: -3px 0px 7px -5px rgba(176,176,176,1);
	border-top: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
}
.title p{
	font-size: 13px;
	font-family: Segoe UI;
	font-weight: bold;
	line-height: 35px;
	height: 35px;
	margin-left: 30px;
	color: #484848;
}
#Lcontent_Icon{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 5px;
	top: 7px;
}
/*end of left content*/

#Rcontent_Icon{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 5px;
	top: 7px;
}
.rightWrapper li{
	list-style-type: none;
	line-height: 40px;
	height: 40px;
}
.rightWrapper li a{
	text-decoration: none;
	font-family: Segoe UI;
	font-weight: bold;
	font-size: 12px;	
	margin-left: 20px;
	color: #484848;

}
.rightWrapper li:hover{
	background-color: #f6f5f5;
}

div.animeVideoPage{
	display: none;
}
img#animeFrontPic{
	width: 150px;

	
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 20px;
	float: left;
	
}
div.story{
	margin-right: 20px;
	margin-left:10px;
	margin-bottom: 5px;
	text-indent: 30px;
	text-align: justify;
	height: 210px;
	overflow: auto;

}
.contentWrapper_Text .scrollr{
	height: auto;
	max-height: 360px;
	overflow-y: auto;

}


/*               Start of slider           */


/* end of this section*/

						/* ------------  START OF MEDIA QUERIES ------------  */




/* end of 667*/

@media only screen and (max-width: 480px) {

*{
	margin:0px;
}
 body{
 	background-color: #e9ebee;
 }
 .navWords{
 	display: none;
 }
 .navIcons{
 	display: block;
 }
 .main li{
 	max-height: 61px;
 }
 .main li{
	float: left;
	list-style-type: none;
	width: 20%;
	background-color: #f4684d;
	text-align: center;	
}
.navIcons img{
	margin-top: 15px;
}
ul.main li:nth-child(1){
}
.main li:hover{
	background-color: #d05139;
	height: auto;
}
.main li a{
	text-decoration: none;
	color:white;
	font-size: 8px;
	font-family: Segoe UI;
}
.main li:hover .submenu li{
	border-bottom: 1px solid #3abd7d;
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
	display: block;	
}
.submenu{
	margin-top: -13px;
	display: block;

}
.submenu li{
	width: 500px;
	margin-left: -100px;
	height: auto;
	display: none;
	background-color: #84dfb2;
	line-height: 35px;
}
.submenu li a{
	color: #484848;
	font-size: 12px;
	font-weight: bold;
	font-family: Segoe UI;
}
.submenu li:hover{
	background-color: #6fc79c;
}
.leftWrapper{
	width: 97%;
	float:left;
	height: auto;
	margin: 4px 5px;
}
.contentWrapper_Img{
	width: 100%;
	height: 135px;
	background-color: #ffffff;
	overflow: hidden;
	margin-bottom: 10px;
	margin-top:-15px; 
	box-shadow: -5px 5px 7px -5px rgba(176,176,176,1);
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	
}
.owl-carousel a img{
	width: 100px;
	height: 130px;
}
.rightWrapper{
	width: 48%;
	float:left;
	height: 600px;
	margin-top: 4px;
	margin-left: 3px
}
.mobRight{
	position: relative;
	top:-363px;
	left: 178px;
}
.contentWrapper_Text{
	margin-top:-15px; 
	margin-bottom: 5px;
	width: 100%;
	background-color: #ffffff;
	max-height: 350px;
	overflow: auto;
	box-shadow: -5px 5px 5px -5px rgba(176,176,176,1);
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.contentWrapper_Vid iframe{
	margin: 5px 5px;
	width: 97%;
	height: 350px;
}
img#animeFrontPic{
	width: 140px;
	height: 200px;
	max-height: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left
}
.contentWrapper_Vid{
	width: 100%;
	height: auto;
	max-height: 400px;
	overflow: auto;
	background-color: #ffffff;
	margin-bottom: 10px;
	margin-top:-15px; 
	box-shadow: -5px 5px 7px -5px rgba(176,176,176,1);
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
div.story{
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-indent: 10px;
	text-align: justify;
	height: 200px;
	overflow: auto;
}
#svgIcons{
	width: 31px;
	height: 31px;
}
#svg_Popular{
	width: 32px;
	height: 32px;
}
#svg_Email{
	width: 34px;
	height: 38px;
	margin-top: 11px;
}
#svg_Search{
	width: 29px;
	height: 29px;
	margin-top: 16px;

}
.searchBox{
	position: absolute;
	top: 61px;
	right:0px;
	background-color: #84dfb2; 
	width: 100%;
	height: 200px;
	overflow: auto;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	display: none;
}
input#searchBox_Input{
	background-color: #79d2a6;
	position: absolute;
	top: 2%;
	right: 5%;
	margin-left: 5%;
	width: 90%;
	height: 30px;
	text-align: center;
	font-family: Segoe UI;
	font-weight: bold;
	font-size: 13px;
	border:none;
	color: white;
	border-radius: 2px;
}
.navIcons li:hover .searchBox {
	display: block;
}
#myUL li{
	width: 45%;
	height: 30px;
	background-color: #84dfb2;
	position: relative;
	top: 40px;	
	line-height: 25px;
	margin-left: 5%;
	border-bottom: 1px solid #3abd7d;
}
#myUL li:nth-child(even){
	border-left: 1px solid #4bb280;
	margin-left: 0px;
}
#myUL li:hover{
	background-color: #62c192;
}
#myUL li a{
	font-size: 12px;
	font-family: Segoe UI;
	word-wrap: break-word;
	font-weight:bold;
	color: #484848
}
.emailMe{
	position: absolute;
	top: 61px;
	right:0px;
	background-color: #84dfb2; 
	width: 100%;
	height: 50px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	font-family: Segoe UI;
	font-size: 15px;
	font-weight: bold;
	display: none;
	line-height: 50px;
}
.navIcons li:hover .emailMe {
	display: block;
}
#disqus_thread{
	display: none;
}
.mobRight{
	position: relative;
	top:-363px;
	left: 230px;
}
}


/* end of 480*/




@media only screen and (max-width: 375px) {

*{
	margin:0px;
}
 body{
 	background-color: #e9ebee;
 }
 .navWords{
 	display: none;
 }
 .navIcons{
 	display: block;
 }
 .main li{
 	max-height: 61px;
 }
 .main li{
	float: left;
	list-style-type: none;
	width: 20%;
	background-color: #f4684d;
	text-align: center;	
}
.navIcons img{
	margin-top: 15px;
}
ul.main li:nth-child(1){
}
.main li:hover{
	background-color: #d05139;
	height: auto;
}
.main li a{
	text-decoration: none;
	color:white;
	font-size: 8px;
	font-family: Segoe UI;
}
.main li:hover .submenu li{
	border-bottom: 1px solid #3abd7d;
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
	display: block;	
}
.submenu{
	margin-top: -13px;
	display: block;

}
.submenu li{
	width: 380px;
	margin-left: -80px;
	height: auto;
	display: none;
	background-color: #84dfb2;
	line-height: 35px;
}
.submenu li a{
	color: #484848;
	font-size: 12px;
	font-weight: bold;
	font-family: Segoe UI;
}
.submenu li:hover{
	background-color: #6fc79c;
}
.leftWrapper{
	width: 97%;
	float:left;
	height: auto;
	margin: 4px 5px;
}
.contentWrapper_Img{
	width: 100%;
	height: 135px;
	background-color: #ffffff;
	overflow: hidden;
	margin-bottom: 10px;
	margin-top:-15px; 
	box-shadow: -5px 5px 7px -5px rgba(176,176,176,1);
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;

}
.owl-carousel a img{
	width: 100px;
	height: 130px;
}
.rightWrapper{
	width: 48%;
	float:left;
	height: 600px;
	margin-top: 4px;
	margin-left: 3px
}
.mobRight{
	position: relative;
	top:-363px;
	left: 172px;
}

.contentWrapper_Text{
	margin-top:-15px; 
	margin-bottom: 5px;
	width: 100%;
	background-color: #ffffff;
	max-height: 350px;
	overflow: auto;
	box-shadow: -5px 5px 5px -5px rgba(176,176,176,1);
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.contentWrapper_Vid iframe{
	margin: 5px 5px;
	width: 97%;
	height: 350px;
}
img#animeFrontPic{
	width: 140px;
	height: 200px;
	max-height: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left
}
.contentWrapper_Vid{
	width: 100%;
	height: auto;
	max-height: 400px;
	overflow: auto;
	background-color: #ffffff;
	margin-bottom: 10px;
	margin-top:-15px; 
	box-shadow: -5px 5px 7px -5px rgba(176,176,176,1);
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
div.story{
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-indent: 10px;
	text-align: justify;
	height: 200px;
	overflow: auto;
}
#svgIcons{
	width: 31px;
	height: 31px;
}
#svg_Popular{
	width: 32px;
	height: 32px;
}
#svg_Email{
	width: 34px;
	height: 38px;
	margin-top: 11px;
}
#svg_Search{
	width: 29px;
	height: 29px;
	margin-top: 16px;

}
.searchBox{
	position: absolute;
	top: 61px;
	right:0px;
	background-color: #84dfb2; 
	width: 100%;
	height: 200px;
	overflow: auto;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	display: none;
}
input#searchBox_Input{
	background-color: #79d2a6;
	position: absolute;
	top: 2%;
	right: 5%;
	margin-left: 5%;
	width: 90%;
	height: 30px;
	text-align: center;
	font-family: Segoe UI;
	font-weight: bold;
	font-size: 13px;
	border:none;
	color: white;
	border-radius: 2px;
}
.navIcons li:hover .searchBox {
	display: block;
}
#myUL li{
	width: 45%;
	height: 30px;
	background-color: #84dfb2;
	position: relative;
	top: 40px;	
	line-height: 25px;
	margin-left: 5%;
	border-bottom: 1px solid #3abd7d;
}
#myUL li:nth-child(even){
	border-left: 1px solid #4bb280;
	margin-left: 0px;
}
#myUL li:hover{
	background-color: #62c192;
}
#myUL li a{
	font-size: 12px;
	font-family: Segoe UI;
	word-wrap: break-word;
	font-weight:bold;
	color: #484848
}
.emailMe{
	position: absolute;
	top: 61px;
	right:0px;
	background-color: #84dfb2; 
	width: 100%;
	height: 50px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	font-family: Segoe UI;
	font-size: 15px;
	font-weight: bold;
	display: none;
	line-height: 50px;
}
.navIcons li:hover .emailMe {
	display: block;
}
#disqus_thread{
	display: none;
}
}
